:root {
  --bgcolor: rgba(255, 192, 203, 0.664);
  --border: #23dd70;
}
body {
  background-image: linear-gradient(
    to right top,
    #000000,
    #161113,
    #221c21,
    #2e2830,
    #383441
  );
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25vw;
  height: 50vh;
  border: solid var(--border) 20px;
  border-radius: 10%;
  box-shadow: 0 0 10px 5px;
}
h1 {
  color: var(--border);
  text-align: center;
}

.questions {
  text-align: left;
  margin: 25px;
  font-size: 4ch;
  color: aquamarine;
}
ul li {
  list-style: none;
}
.answer {
  border: none;
  border-radius: 25%;
  background-image: linear-gradient(
    to right top,
    #000000,
    #161113,
    #221c21,
    #2e2830,
    #383441
  );
  height: 10ch;
}
.answer:hover {
  border: solid 2px green;
  background-color: green;
}
.answer {
  margin-top: 1vh;
  width: 10vw;
}
